.top-container {
  background-color: #CDF0EA;
  position: relative;
  padding-top: 100px;
  padding-bottom: 20px;
}

.middle-container {}

.bottom-container {}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 60px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 100px;
  bottom: 300px;
}

.house {
  margin-top: 30px;
}

.kyoong {
  margin: 10px;
  border-radius: 20%;

}

.profile {
  margin: 50px auto 20px auto;
}

.skill-row {
  margin: 50px auto;
  line-height: 2;
}

body {
  margin:0;
  text-align: center;
  font-family: 'Jua', sans-serif;
}

h1 {
  margin: 0;
  font-size: 60px;
  font-family: 'Grand Hotel', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-weight: normal;
  margin-top: 50px;
}

p {
  margin-bottom: 30px;
}
